In [2]:
import pandas as pd

In [4]:
df = pd.read_csv('../data/raw/fraud_oracle.csv')

In [10]:
print(df.shape)

(15420, 33)

In [11]:
print(df.head())

  Month  WeekOfMonth  DayOfWeek    Make AccidentArea DayOfWeekClaimed  \
0   Dec            5  Wednesday   Honda        Urban          Tuesday
1   Jan            3  Wednesday   Honda        Urban           Monday
2   Oct            5     Friday   Honda        Urban         Thursday
3   Jun            2   Saturday  Toyota        Rural           Friday
4   Jan            5     Monday   Honda        Urban          Tuesday

  MonthClaimed  WeekOfMonthClaimed     Sex MaritalStatus  ...  AgeOfVehicle  \
0          Jan                   1  Female        Single  ...       3 years
1          Jan                   4    Male        Single  ...       6 years
2          Nov                   2    Male       Married  ...       7 years
3          Jul                   1    Male       Married  ...   more than 7
4          Feb                   2  Female        Single  ...       5 years

  AgeOfPolicyHolder PoliceReportFiled WitnessPresent AgentType  \
0          26 to 30                No             No  External
1          31 to 35               Yes             No  External
2          41 to 50                No             No  External
3          51 to 65               Yes             No  External
4          31 to 35                No             No  External

   NumberOfSuppliments  AddressChange_Claim  NumberOfCars  Year  BasePolicy
0                 none               1 year        3 to 4  1994   Liability
1                 none            no change     1 vehicle  1994   Collision
2                 none            no change     1 vehicle  1994   Collision
3          more than 5            no change     1 vehicle  1994   Liability
4                 none            no change     1 vehicle  1994   Collision

[5 rows x 33 columns]

In [12]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15420 entries, 0 to 15419
Data columns (total 33 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Month                 15420 non-null  object
 1   WeekOfMonth           15420 non-null  int64
 2   DayOfWeek             15420 non-null  object
 3   Make                  15420 non-null  object
 4   AccidentArea          15420 non-null  object
 5   DayOfWeekClaimed      15420 non-null  object
 6   MonthClaimed          15420 non-null  object
 7   WeekOfMonthClaimed    15420 non-null  int64
 8   Sex                   15420 non-null  object
 9   MaritalStatus         15420 non-null  object
 10  Age                   15420 non-null  int64
 11  Fault                 15420 non-null  object
 12  PolicyType            15420 non-null  object
 13  VehicleCategory       15420 non-null  object
 14  VehiclePrice          15420 non-null  object
 15  FraudFound_P          15420 non-null  int64
 16  PolicyNumber          15420 non-null  int64
 17  RepNumber             15420 non-null  int64
 18  Deductible            15420 non-null  int64
 19  DriverRating          15420 non-null  int64
 20  Days_Policy_Accident  15420 non-null  object
 21  Days_Policy_Claim     15420 non-null  object
 22  PastNumberOfClaims    15420 non-null  object
 23  AgeOfVehicle          15420 non-null  object
 24  AgeOfPolicyHolder     15420 non-null  object
 25  PoliceReportFiled     15420 non-null  object
 26  WitnessPresent        15420 non-null  object
 27  AgentType             15420 non-null  object
 28  NumberOfSuppliments   15420 non-null  object
 29  AddressChange_Claim   15420 non-null  object
 30  NumberOfCars          15420 non-null  object
 31  Year                  15420 non-null  int64
 32  BasePolicy            15420 non-null  object
dtypes: int64(9), object(24)
memory usage: 3.9+ MB
None